<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="samatov.space.spookies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".view_model.activities.AuthActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view_model.activities.my_profile.MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_model.activities.EditPostActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view_model.activities.ViewProfileActivity" />
        <activity android:name=".view_model.activities.ReadPostActivity" />
        <activity android:name=".view_model.activities.DemoActivity">

             <!--<intent-filter>-->
             <!--<action android:name="android.intent.action.MAIN" />-->
             <!--<category android:name="android.intent.category.LAUNCHER" />-->
             <!--</intent-filter>-->
        </activity>
        <activity android:name=".view_model.activities.FeedActivity"></activity>
    </application>

</manifest>